$color-theme: #1572e8;
$color-body: #F0F5FA;
$color-purple: #a033cb;
$color-orange: #ff6417;
$color-sky: #00bbe0;
$color-light-blue: #ecf5ff;
$radius: ("5":5px, "7":7px, "8":8px, "10":10px, "12":12px, "14":14px, "15":15px, "16": 16px, "20":20px, "40":40px, "100": 100px);
$pixels: ("10":10px, "11":11px, "12":12px);
